<div class="container mt-4">
    <h2>Comentários</h2>

    <% @post.comments.each do |comment| %>
        <div class="container">
            <%= comment.content %>
        </div>
    <% end %>
</div>