/* line 2, app/assets/stylesheets/blogs.scss */
.search select {
  width: 100%;
}

/* line 6, app/assets/stylesheets/blogs.scss */
.search .select2 {
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.4);
  background-color: rgba(243, 232, 232, 0.9);
  font-size: 1.6rem;
  padding-bottom: 15px;
}

/* line 15, app/assets/stylesheets/blogs.scss */
.search .select2-selection {
  border: none !important;
  background: none !important;
}

/* line 21, app/assets/stylesheets/blogs.scss */
.posts {
  margin-top: 100px;
}

/* line 24, app/assets/stylesheets/blogs.scss */
.posts .post {
  background-color: rgba(196, 196, 196, 0.9);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.4);
  padding-bottom: 50px;
  word-break: break-all;
}

/* line 34, app/assets/stylesheets/blogs.scss */
.posts .post img {
  width: 100%;
  height: 300px;
}

/* line 39, app/assets/stylesheets/blogs.scss */
.posts .post .page-header {
  font-size: 1.4rem;
  border-bottom: 1px solid black;
}

/* line 44, app/assets/stylesheets/blogs.scss */
.posts .post .see_more {
  float: right;
}

/* line 47, app/assets/stylesheets/blogs.scss */
.posts .post .see_more a {
  border-radius: 20px;
}

/* line 54, app/assets/stylesheets/blogs.scss */
.dash {
  border: 3px solid red;
  width: 10px;
  height: 10px;
}
