.lateral_menu {
    background: rgba(0,0,0,0.8);
    position: fixed;
    width: inherit;
    height: 100vh;
    box-shadow: 2px 2px 10px rgba(245,245,245,0.2);

    color: white;
    font-size: 2rem;
    font-family: 'Scope One', serif;

    img {
        width: 200px;
    }

    ul {
        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        li {
            display: block;
            margin-top: 20px;
        }
    }

    .social_media {
        img {
            width: 80px;
        }
    }
}