<audio autoplay hidden loop id="myAudio">
    <source src="/intro.mp3" type="audio/mpeg">
    If you're reading this, audio isn't supported. 
</audio>

<div class="fullscreen-bg">
    <video loop muted autoplay class="fullscreen-bg__video">
        <source src="/intro.mp4" type="video/mp4">
    </video>
</div>

<style>
  body {
    background: black!important;
  }
</style>