<%= javascript_pack_tag 'audio' %>

<div class="fullscreen-bg">
    <video loop muted autoplay class="fullscreen-bg__video">
        <source src="/intro.mp4" type="video/mp4">
    </video>
</div>

<style>
  body {
    background: black!important;
  }
</style>