@import "bootstrap/scss/bootstrap";
@import "select2";
@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');

@import 'shared/lateral_menu';
@import 'home';
@import 'blogs';

.application_row {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Scope One', serif;
}